<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [formControl]="emailFormControl">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form> -->


<p>signin page</p>

<div>{{(authStore.state$|async).authenticated ? 'signined': 'not signined'}}</div>
<button mat-flat-button color="warn" (click)="authStore.setAuthenticated()">login</button>
<button mat-flat-button color="accent" (click)="authStore.setUnAuthenticated()">logout</button>
