@import 'src/styles/component.scss';

.full-width {
  width:100%,
}

.mat-stroked-button {
  border-radius: 20px;
  font-size: 1.2em;
  height:2em;
}

.left {
  left:0;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}
