$primary-color: var(--primary-color);
$primary-lighter-color: var(--primary-lighter-color);
$primary-darker-color: var(--primary-darker-color);

$accent-color: var(--accent-color);
$accent-lighter-color: var(--accent-lighter-color);
$accent-darker-color: var(--accent-darker-color);

$warn-color: var(--warn-color);
$warn-lighter-color: var(--warn-lighter-color);
$warn-darker-color: var(--warn-darker-color);

$background-color: var(--background-color);
$foreground-color: var(--foreground-color);

$text-color: var(--text-color);
$secondary-text-color: var(--secondary-text-color);

$divider-color: var(--divider-color);

$gap : 2vw;
$lgap : 16px;
$half-gap : 1vw;
$half-lgap : 8px;

